{% extends 'base.html' %}


{% block body %}
  <p class="container text-center">
    <img src="{{ movie.poster_path }}" class="card-img-top" style="width:300px" alt="...">
  </p>
  <h1 class="container text-center">{{ movie.title }}</h1>
  <h3 class="container text-center">{{ movie.overview }}</h3>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          정말로 삭제 하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <form action=" {% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <input class="m-2 btn btn-danger" type='submit' value='삭제'>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <form action="{% url 'movies:edit' movie.pk %}" method="POST">
    {% csrf_token %}
    <button type="button" class="btn btn-light">Edit</button>
  </form>


{% endblock %}