{% extends 'base.html' %}
{% block body %}
  <form action="" method="GET">
    <input type="text" name="search" value="{{ search }}" placeholder="영화 제목을 검색하세요">
    <input type="submit" value="search">
  </form>
  <div class="card-group col-12"> 
  
    {% for movie in movies %}
        <div class="card col-4">
          <a class="text-decoration-none text-reset" href="{% url 'movies:detail'  movie.pk %}">
          <img src="{{ movie.poster_path }}" class="card-img-top" style="" alt="...">
          <div class="card-body" >
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text text-truncate">{{ movie.overview }}</p>
            <p class="card-text"><small class="text-muted">{{ movie.updated_at }}</small></p>
          </div>
          </a>
        </div>
      
    {% endfor %}
  </div>

{% endblock %}
