{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  {% if comments %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-article-pk="{{ article.pk }}">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}


{% block script %}
  <script>
    const commentForm = document.querySelector('#comment-form')

    commentForm.addEventListener('submit', function (event) {
      event.preventDefault()
      const articlePk = event.target.dataset.articlePk
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const content = document.querySelector('[name=content]').value
      
      const formData = new FormData()
      formData.append('content', content)
      
      axios({
        method: 'post',
        url: `/articles/${articlePk}/comments/`,
        data: formData,
        headers: { 'X-CSRFToken': csrfToken },
      })
        .then((res) => {
          // console.log(res)
          const li = document.createElement('li')
          li.innerText = `${res.data.username} - ${res.data.content}`

          const ul = document.querySelector('ul')
          ul.appendChild(li)

          event.target.reset()
        })
    })
  </script>
{% endblock script %}