{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>작성자 : 
      <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
      <form class="like-form" data-article-pk="{{ article.pk }}">
        {% csrf_token %}
        {% if user in article.like_users.all %}
          <button id="like-btn-{{ article.pk }}">좋아요 취소</button>
        {% else %}
          <button id="like-btn-{{ article.pk }}">좋아요</button>
        {% endif %}
      </form>
      <p><span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>명이 이 글을 좋아합니다.</p>
    </div>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
    <script>
      const forms = document.querySelectorAll('.like-form')
      
      forms.forEach((form) => {
        form.addEventListener('submit', (event) => {
          event.preventDefault()
          // console.log(event)
          const articlePk = event.target.dataset.articlePk
          const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
          axios.post(`/articles/${articlePk}/likes/`, {}, {
            headers: { 'X-CSRFToken': csrfToken} 
          })
            .then((res) => {
              // const liked = res.data.liked
              // const count = res.data.count
              const {liked, count} = res.data

              // const likeBtn = document.querySelector(`#like-btn-${articlePk}`)
              const likeBtn = event.target.querySelector('button')
              const likeCount = document.querySelector(`#like-count-${articlePk}`)
              
              if (liked) {
                likeBtn.innerText = '좋아요 취소'
              } else {
                likeBtn.innerText = '좋아요'
              }
              likeCount.innerText = count
            })
        })
      })
    </script>
{% endblock script%}